/* Carga la fuente personalizada */
@font-face {
    font-family: "eva";
    src: url(resources/evangelion-trial.otf);
  }
  
  /* Configuración por defecto para todos los elementos */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* Configuración para la lista de elementos del menú */
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    max-height: 10%;
    max-width: 100%;
  }
  
  /* Configuración para cada elemento de la lista */
  li {
    float: left;
    align-self: center;/* lo coloca en el medio */
  }
  
  /* Configuración para el enlace dentro de cada elemento de la lista */
  li a {
    display: block;
    color: rgb(118, 88, 152);
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
  }

  .selecionado {
    color: rgb(82, 208, 83);
  }

  /* CONFIGURACIÓN DEL H1 */
  h1 {
    text-align: center;
      font-size: 100px;
      margin-top: 10px;
      background-image: linear-gradient(to  top right, rgb(46, 134, 47) 1%, rgb(31, 88, 35));
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-stroke: 2px black;
  }

  /* CONFIGURACIÓN DEL DIV DE TEMAS */
  .temas {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(46, 134, 47);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 5px rgb(43, 33, 51) ;
  }

  /* CONFIGURACIÓN DECADA UNO DE LOS DIVS QUE CONTIENEN CADA TEMA */
  .cadatema {
    flex-basis: 100%;
    background-color: rgb(158, 128, 182);
    color: white;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    transition: border 0.2s, box-shadow 0.2s;
  }

  .cadatema a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
  }

  .cadatema:hover {
    border: 1px solid rgb(201, 34, 30);
    box-shadow: 0 0 10px rgba(201, 34, 30, 0.5);
    color: rgb(201, 34, 30);
    cursor: pointer;
  }

  .cadatema a:hover {
    text-decoration: none;
    color: rgb(201, 34, 30);
  }

  /* CONFIGURACIÓN DEL DIV DE TEMAS */
  .descripcion {
    border: 1px solid rgb(83, 58, 103);
    border-radius: 10px;
    margin: 15px 0 5px 0;
    width: 100%;
  }
  
  .descripcion p {
    margin: 10px;
    text-align: justify;
  }

  .respyvis {
    overflow: auto;
    margin: 10px 0 0 0;
  }

  .resp {
    float: right;
  }

  .vis {
    float: left;
  }
  
  a.logo{
    padding: 10px;
    margin: 0;
  }
  
  #logo{
    width: 100px;
  }
  
  /* Configuración para el menú */
  .sesion:hover {
    color: rgb(201, 34, 30);
  }

  .menu:hover {
    color: rgb(82, 208, 83);
  }
  
  /* Configuración para el logo */
  .logo:hover:not(.active) {
    background-color: transparent;
  }
  
  .logo:hover img {
    content: url(imgs/logo_cursorEncima.png);
  }
  
  .logo:active img {
    content: url(imgs/logo_clicado.png);
  }
  
  /* Configuración para el elemento activo */
  .active {
    background-color: rgb(118, 88, 152);
  }
  
  /* Configuración para el elemento de registro en el menú */
  .registro {
    align-self: center;/* lo coloca en el medio */
    margin-left: auto; /* Alinea el elemento a la derecha */
  }
  
  /* Configuración para el elemento de inicio de sesión en el menú */
  #iniciar {
    top: 45px;
    position: relative;
  }
  
  /* Configuración por defecto para todo el cuerpo del documento y el fondo*/
  body {
    background-image: linear-gradient(to bottom right, rgb(174, 146, 207), black);

    max-height: 82%;
    max-width: 100%;
    background-size: cover;
  }
  
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 550px) {
    .texto1 {
      font-size: 16px;
    }

    .descripcion {
      display: none;
    }
  }
  
  /* Estilos para dispositivos táblet */
  @media screen and (max-width: 768px) {
    ul {
      flex-direction: column;
      max-height: 100%;
    }
  
    li {
      float: none;
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  
    li a {
      font-size: 20px;
    }
  
    .registro {
      margin-left: 0;
      text-align: right;
    }

    .temas {
      flex-direction: column;
    }

    .footer-container {
      flex-direction: column;
    }
  }


  /* CONFIGURACIÓN DEL FOOTER */
  footer {
    background-color: rgb(201, 34, 30);
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .social-link {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: white;
  }
  
  .social-link:hover {
    color: #00aced;
  }
  
  
  .legal-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

  }
  
  .legal-links a {
    display: block;
    margin: 0 10px;
    font-size: 14px;
    color: black;
  }
  
  .branding {
    text-align: center;
  }

  /* Estilo para la barra de desplazamiento */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Estilo para el track de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background-color: #292b2e;
  }

  /* Estilo para el thumb (el "pulgar") de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
   background-color: #5f5f5f;
   border-radius: 5px;
   border: 3px solid #e3cda4;
   background-image: linear-gradient(45deg, rgb(118, 88, 152), rgb(82, 208, 83), rgb(201, 34, 30));
  }

  /* Estilo para el thumb de la barra de desplazamiento cuando está siendo arrastrado */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #848484;
  }